In [1]:
import pandas as pd
import requests
#from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts

In [2]:
headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134' }
r = requests.get('https://fx.minkabu.jp/api/v2/bar/USDJPY/daily.json?count=240', headers=headers)
r.raise_for_status()
r.json()[:10]

[[1579039200000, '109.982', '110.011', '109.789', '109.897'],
 [1579125600000, '109.897', '110.179', '109.85', '110.162'],
 [1579212000000, '110.144', '110.29', '110.046', '110.129'],
 [1579471200000, '110.068', '110.218', '110.068', '110.182'],
 [1579557600000, '110.184', '110.223', '109.76', '109.862'],
 [1579644000000, '109.862', '110.098', '109.831', '109.837'],
 [1579730400000, '109.836', '109.862', '109.266', '109.49'],
 [1579816800000, '109.489', '109.654', '109.172', '109.248'],
 [1580076000000, '108.891', '109.139', '108.729', '108.892'],
 [1580162400000, '108.892', '109.203', '108.757', '109.146']]

In [3]:
df = pd.DataFrame(data=r.json(), columns=['time', 'open', 'high', 'low', 'close'])
df.head()

            time     open     high      low    close
0  1579039200000  109.982  110.011  109.789  109.897
1  1579125600000  109.897  110.179   109.85  110.162
2  1579212000000  110.144   110.29  110.046  110.129
3  1579471200000  110.068  110.218  110.068  110.182
4  1579557600000  110.184  110.223   109.76  109.862

In [5]:
# [From Timestamps to Epoch](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#from-timestamps-to-epoch)
utc = pd.to_datetime(df['time'], unit='ms')
utc3 = utc + pd.DateOffset(hours=3)
data1 = { 'open': df['open'].astype('float64').values, 'high': df['high'].astype('float64').values, 'low': df['low'].astype('float64').values, 'close': df['close'].astype('float64').values}
columns1 = ['open', 'high', 'low', 'close']
index1 = utc3
df2 = pd.DataFrame(data=data1, columns=columns1, index=index1)
df2.head()

                        open     high      low    close
time
2020-01-15 01:00:00  109.982  110.011  109.789  109.897
2020-01-16 01:00:00  109.897  110.179  109.850  110.162
2020-01-17 01:00:00  110.144  110.290  110.046  110.129
2020-01-20 01:00:00  110.068  110.218  110.068  110.182
2020-01-21 01:00:00  110.184  110.223  109.760  109.862

In [6]:
# Basic line plot
#chart = serialize(df2, render_to="my-chart", title="My Chart")
# Basic column plot
#chart = serialize(df, render_to="my-chart", title="Test", kind="bar")

#chart = display_charts(df2, render_to="usdjpy", title="米ドル/円", kind="candlestick")
# ValueError: candlestick plots are not yet supported

chart = display_charts(df2, render_to="usdjpy", title="米ドル/円", kind="line", y=['close'])